[srw.link]
username = srw
password = ...
url = https://www.steinreichwald.net/srw.link

# The following options are used by the "srwlink-client" script which can be
# used for manual testing.
# soap_user = ...
# soap_password = ...
# soap_apoik = ...

# "ApoIK"-Dummy: 999912342
#   99:   Klassifikation
#   99    "Bundesland"
#   1234  Seriennummer
#   2     Prüfziffer

